<h1><%= @category.name %></h1>

<%= link_to 'Post', new_category_article_path(@category) %>

<% @category.articles.each do |article| %>
  <p><%= link_to article.title, category_article_path(@category, article) %></p>
<% end %>
